.image {
  border-radius: 8px;
}

.parent {
  display: flex;
  gap: 32px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal {
  position: "absolute";
  width: 100%;
  height: 100%;
  opacity: 50%;
}
