.wrapper {
  padding: 1.5rem 2rem;
  box-sizing: border-box;

  display: flex;
  gap: 1.4375rem;
  min-height: 100vh;
}

.title {
  font-weight: 600;
  font-size: 1rem;
}

.filter {
  margin-top: 1.25rem;
}

.filter > div {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 4px;
}

.filter input {
  padding: 0.625rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(225, 227, 230, 1);
  outline: none;
}

.hasArrow {
  background: url("../../assets/arrow.svg") no-repeat scroll 95%;
}

.moviesWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}
